img {
    display: block;
    max-width: 100%;
    object-fit: cover;

    width: 20%;
}

.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.loader {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background: chartreuse;
}

.bookcase {
    position: absolute;
    width: 100%;
    height: 100%;
}