/* ========== GENERAL ========== */

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

body {
    margin: 0;
}

/* ========== TYPESTYLES ========== */
/* 
font-family: 'Righteous', cursive; 
font-family: 'Poppins', sans-serif;
*/

html {
    font-size: 10px;
}

.loader-title,
.month,
.book-title,
.book-author,
.rec-submit {
    margin: 0;
    font-family: 'Righteous', serif;
    font-weight: 400;
    text-transform: capitalize;
}

.book-desc,
.rec-text,
.rec-form-title,
.rec-form-author {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.loader-title,
.month {
    font-size: 5rem;
}

.book-title,
.book-author,
.rec-form-title,
.rec-form-author,
.rec-submit {
    font-size: 2.5rem;
}

.book-desc,
.rec-text {
    font-size: 1.6rem;
}


/* ========== LAYOUT ========== */

/* base */
.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.bookcase {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    height: 100%;
}

/* loader */
.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: #000;
    color: #fff;
}

.detail-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 5%;
}

.img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

/* month */
.loader-title {
    opacity: 0;
}

.month {

}

/* book */
.book-author {
    align-self: flex-end;
}

.book-title {

}

.book-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70%;
    max-height: 70%;
    z-index: -1;
}

@media (min-width: 500px) {

    .bookcase {
        display: flex;
    }

    .detail-wrapper {
        width: 50%;
    }

    .img-wrapper {
        position: relative;
        width: 50%;
    }

    .book-img {
        max-width: 75%;
        max-height: 75%;
    }

}

/* rec */

.rec-text-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 50%;
    padding: 5%;
}

.rec-text {
    text-transform: capitalize;
}

.rec-form-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}

.rec-form {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    padding: 5% 0 5% 5%;
}

.rec-form-title,
.rec-form-author {
    width: 100%;
    padding: 0.75rem 1rem;

    background: #000;
    color: #fff;
    border: none;
}

.rec-form-title::placeholder,
.rec-form-author::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.rec-submit {
    padding: 0.75rem 1rem;

    background: #000;
    color: #fff;
    border: none;
}

@media (min-width: 500px) {

    .bookcase {
        flex-flow: row nowrap;
    }

    .rec-text-wrapper {
        justify-content: flex-start;
        width: 50%;
        height: 100%;
    }

    .rec-header-wrapper {
        margin: 7rem 0 0 0;
    }

    .rec-form-wrapper {
        width: 50%;
        height: 100%;
    }

    .rec-form {
        height: 40%;
    }
/*
    .rec-submit {
        align-self: flex-start;
    } */

}